$enable-flex: true;
$enable-grid-classes: true;
$primary-color: #00b3be;
@import 'app/libs/bootstrap/scss/_variables.scss';
@import 'app/libs/bootstrap/scss/_mixins.scss';
@import 'app/libs/bootstrap/scss/_normalize.scss';
@import 'app/libs/bootstrap/scss/_reboot.scss';
@import 'app/libs/bootstrap/scss/_grid.scss';

@import 'app/styles/my-mixin.scss';

html, body{
  height: 100%;
}
body{
  font-family: Arial;
}
p{
  margin: 0;
  padding: 0;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-holder{
  height: 100%;

  .container{
    height: 100%;
  }
  .is-flex{
    min-height: 100%;
    background: url('../assets/images/login-bg.png') 100% 100% no-repeat;
    background-size: cover;
  }
}
.login-block{
  background: $primary-color;

  .logo{
    margin: 145px 0 105px;
    padding: 0;
    text-align: center;

    a{
      display: inline-block;
      width: 198px;
      height: 69px;
      line-height: 1;
    }
  }
  input[type=text],
  input[type=password],
  input[type=submit]{
    display: block;
    width: 100%;

  }

  input[type=text],
  input[type=password]{
    background: none;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 0 15px;
    margin: 0 0 22px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;

    &:focus{
      outline: 0;
    }

    @include placeholder {
      color: #fff;
    }
  }

  .login-form{
    flex: 1;
    padding: 0 0 40px;
    *:nth-last-child(2){
      margin: 0 0 35px;
    }
  }

  footer{
    p{
      text-align: center;
      color: #fff;
    }
  }
}

.btn{
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  color: #4a4a4a;
  background: #f2f2f2;
  height: 35px;
  border-bottom: 3px solid #f2f2f2;
  cursor: pointer;

  &:focus{
    outline: 0;
    border-bottom-color: #91d763;
  }
}

@media (min-width: 576px ) and (max-width: 1200px){
  .login-btn-group{
    .btn{
      display: block;
      width: 100%;
    }
  }
}
.login-btn-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 70px;
  .btn{
    min-width: 150px;
  }
}

