html, body{
  height: 100%;
}
body{
  font-family: Arial;
}
p{
  margin: 0;
  padding: 0;
}
header{
  padding: 0 0 90px;
}
.logo{
  margin: 8px 0 0;
  padding: 0;
  width: 116px;
  height: 41px;

  a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1;
  }
}
.search-form{
  position: relative;
  margin: 16px 0 0;

  input[type="search"]{
    display: block;
    width: 100%;
    outline-offset: 0;
    padding: 0 22px;
    border: 0;
    border-bottom: 1px solid #00b3be;
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;

    &:focus{
      outline: 0;
    }
  }

  input[type="image"]{
    position: absolute;
    top: 10px;
    left: 6px;
  }
}
.user-block{
  background: #00b3be;
}

.user-block-welcome{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 10px 15px 22px;

  a{
    color: #4a4a4a;

    &:hover{
      text-decoration: none;
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #00b3be;
  height: 48px;
  width: 100%;

  p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.product-list{
  padding: 0 0 48px;
}
.product-item{
  margin: 0 0 23px;

  strong{
    display: block;
    position: relative;
    height: 50px;
    padding: 0 40px 0 13px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    background: #00b3be;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after{
      content: '';
      position: absolute;
      top: 17px;
      right: 14px;
      display: block;
      height: 16px;
      width: 24px;
      background: url(../img/ic-eye.png) no-repeat;
      cursor: pointer;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}
.product-detail-text{
  P{
    padding: 0 0 9px;
  }
  p, ul{
    color: #4a4a4a;
    font-size: 18px;
  }
  ul{
    list-style: none;
  }
  li{
    font-weight: bold;

    &:before{
      content:  "-";
      position: relative;
      left:     -5px;
    }
  }
}
.product-detail-header{
  font-size: 32px;
  line-height: 42px;
  color: #000;
}
.product-detail-author{
  font-weight: bold;
  padding: 0 0 25px;

  a{
    color: #00b3be;
    text-decoration: none;
  }
}
.product-price{
  color: #91d763;
  font-size: 32px;
}
.uppercase-text{
  text-transform: uppercase;
}
.bx-wrapper .bx-controls-direction a{
  font-size:0;
  position: absolute;
  top:0;
  outline: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-position: center;

}
 .bx-controls-direction a.disabled{
  display: none;
}
.bx-wrapper .bx-next{
  right: 12px;
  background-image: url("../img/next.png");

}
.bx-wrapper .bx-prev{
  background-image: url("../img/prev.png");
}
